<%- include("../partials/head.ejs", {
  title: "Edit Your Post",
  stylesheet: "post"
}) %>

<main class="container-fluid">
  <div class="row mb-5">
    <%- include("../partials/nav.ejs") %>
  </div>
  
  <div class="row">
    <h1>Edit Your Post</h1>
  </div>

  <div class="container post-list">
    <div class="row">
<% if(post) { %>
      <div class="card bg-light">
        <div class="card-body pt-2 pt-sm-3">
          <div class="fs-4 lead card-message">
            <form id="editForm" action="/posts/<%= post._id %>?_method=PATCH" method="POST"></form>
            <form id="deleteForm" action="/posts/<%= post._id %>/?_method=DELETE" method="POST"></form>
            
            <textarea class="form-control mb-3" name="message" form="editForm" id="editMessageTx" rows="3"><%= post.message %></textarea>
            <div class="d-flex justify-content-between">
                <div class="editbutton">
                  <button class="btn btn-sm btn-outline-danger ms-1" type="submit" form="deleteForm" id="deletePostBt">Delete</a>
                </div>
              <button class="btn btn-primary" type="submit" form="editForm" id="editSaveBt">Save</button>
            </div>
          </div>
        </div>

        <div class="ms-auto py-2">
          <small class="text-muted fs-fst-italic card-date"><%= post.date_created.toLocaleString() %></small>
        </div>
      </div>
<% } %>
    </div>
  </div>
</main>

<%- include("../partials/foot.ejs") %>