<%- include("../partials/head.ejs", {
  title: "Posts",
  stylesheet: "post"
}) %>

<main>
  <h1>Posts on Your Wall</h1>
  <%- include("../partials/nav.ejs") %>
  <% if(locals.user) { %>
  <div class="username">
    Logged in as <span class="username-tag"><%= user.username %></span>
    &middot;
    <a href="/logout">Log out</a>
  </div>
  <% } %>
  
  <%_ for(let it of posts) { _%>
  <div class="card">
    <div class="card-detailbutton"><a href="/post/<%= it._id %>">&para;</a></a></div>
    <div class="card-message">
      <%= it.message %> 
    </div>
    <span class="card-date"><%= it.date_created.toLocaleString() %></span>
    <span class="card-author"><%= it.author %></span>
  </div>
  <%_ } _%>
</main>

<%- include("../partials/foot.ejs") %>