<%- include("../partials/head.ejs", {title: "Post Detail"}) %>

<main>
  <h1>Single Post</h1>
  <%- include("../partials/nav.ejs") %>
  
  <% if(post) { %>
  <div class="card bigger">
    <div class="card-editbuttons">
      <a href="#" id="btEditPost">Edit</a> &middot; <a href="#" id="btDeletePost">Delete</a>
    </div>
    <div class="card-message">
      <%= post.message %> 
    </div>
    <span class="card-date"><%= post.date_created.toLocaleString() %></span>
    <span class="card-author"><%= post.author %></span>
  </div>
  <% } %>
</main>

<%- include("../partials/foot.ejs") %>