<%- include("../partials/head.ejs", {
  title: "Post Detail",
  stylesheet: "post"
}) %>

<main>
  <h1>Post Detail</h1>
  <%- include("../partials/nav.ejs") %>
  
  <% if(post) { %>
  <div class="card bigger">
    <span id="postIdLb" class="hidden"><%= post._id %></span>
    
    <% if(locals.user && user.username === post.author) { %> 
    <div class="card-editbuttons">
      <a href="#" id="editPostBt">Edit</a> &middot; <a href="#" id="deletePostBt">Delete</a>
    </div>
    <% } %> 
    <div class="card-message">
      <%= post.message %> 
    </div>
    <span class="card-date"><%= post.date_created.toLocaleString() %></span>
    <span class="card-author"><%= post.author %></span>
  </div>
  <% } %>
</main>

<script src="/js/post_view.js"></script>

<%- include("../partials/foot.ejs") %>